<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4">
    <h3>Form thêm sinh viên</h3>
    <form method="POST" action="/">
        <div class="mb-3">
            <label for="hoten" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="hoten" name="hoten" />
        </div>
        <div class="mb-3">
            <label for="masv" class="form-label">Mã sinh viên</label>
            <input type="text" class="form-control" id="masv" name="masv" />
        </div>
        <div class="mb-3">
            <label for="Lop" class="form-label">Lớp</label>
            <input type="text" class="form-control" id="lop" name="lop" />
        </div>

        <button type="submit" class="btn btn-primary">Thêm sinh viên</button>
    </form>
</div>
</body>
</html>