<div class="container mt-4">
    <h3>Form thêm sinh viên</h3>
    <form method="POST" action="/">
        <div class="mb-3">
            <label for="hoten" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="hoten" name="hoten" />
        </div>
        <div class="mb-3">
            <label for="masv" class="form-label">Mã sinh viên</label>
            <input type="text" class="form-control" id="masv" name="masv" />
        </div>
        <div class="mb-3">
            <label for="Lop" class="form-label">Lớp</label>
            <input type="text" class="form-control" id="lop" name="lop" />
        </div>

        <button type="submit" class="btn btn-primary">Thêm sinh viên</button>
    </form>
</div>